<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get ip public</title>
</head>
<body>
  <div style="width: 100%; padding: 10px; box-sizing: border-box; background-color: #007bff; font-family: Arial, Helvetica, sans-serif;">
    <div style="text-align: right; margin-bottom: 5px;;">
      <img src="https://lib.toladev.info/img/DEV_850.png" alt="logo-toladev" style="width: 40px; height: 40px;">
    </div>
    <div style="width: 100%; padding: 5px; box-sizing: border-box; font-size: 20px; background-color: white; margin-bottom: 5px;">
      Hi
    </div>
    <div style="padding: 5px; box-sizing: border-box; color: white;">
      About <a href="https://www.toladev.info" style="text-decoration: none; font-weight: 600; color: white">I'm a Dev</a>
    </div>
  </div>
</body>
</html>